# talend workspace junk
.metadata/
.config/
p2/
configuration/
.JETEmitters/

# talend project junk
**/.Java/
**/temp/
**/bin/
**/migration.log
**/talend.project.local
**/.settings/
**/report/
**/recycle_bin.index

# talend build and maven junk
**/poms/
**/target/


